$dark-green-color: #3A5342;
$semi-green-color: #435F4D;
$light-green-color: #50765B;

$dark-red-color: #4C2628;

$dark-steel-color: #777D76;
$light-steel-color: #8F948E;

$outer-pip-boy-color: #D7D7C9;

$screen-font-color: #25D852;
$screen-font-color-opacity: rgba(37, 216, 82, 0.2)